@model BloggerWeb.Models.Blog

@{
    ViewBag.Title = Model.Id == 0 ? "Create Blog" : "Edit Blog";
}

<h2>@(Model.Id == 0 ? "Create New Blog" : "Edit Blog")</h2>

@using (Html.BeginForm("Upsert", "Blog", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id) <!-- Hidden Field for ID -->

    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content)
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = "5" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">
        @(Model.Id == 0 ? "Create" : "Update")
    </button>

    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
